<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>assignment4</display-name>
      
      <context-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>resources.TrafficIncidentReportsApplication</param-value>
      </context-param> 
      
       <context-param>
      	     <param-name>DBHOST</param-name>
      	     <param-value>localhost</param-value>
      </context-param>
      
       <context-param>
      	     <param-name>DBNAME</param-name>
      	     <param-value>issue_report</param-value>
      </context-param>

       <context-param>
      	     <param-name>DBUSERNAME</param-name>
      	     <param-value>pengdi</param-value>
      </context-param>

       <context-param>
      	     <param-name>DBPASSWORD</param-name>
      	     <param-value></param-value>
      </context-param>
      
      <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
      </servlet>
 
    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/assignment4</url-pattern>
    </servlet-mapping>
</web-app>